{{ 'section-coming-soon.css' | asset_url | stylesheet_tag }}

<div class="coming-soon-section">
  <div class="container-large">
    <div class="coming-soon-grid">
      <div class="coming-soon-left">
        <div class="coming-soon-logo">
          <img
            src="{% if section.settings.top_logo != blank %}{{ section.settings.top_logo | image_url: width: 200 }}{% else %}https://cdn.shopify.com/s/files/1/0959/1727/7525/files/logo-sd_1_1_1.png?v=1753809833{% endif %}"
            alt="{{ section.settings.top_logo.alt | escape }}"
          >
        </div>

        {% if section.settings.subheading %}
          <p class="custom-subheading text-align--center">{{ section.settings.subheading }}</p>
        {% endif %}
        {% if section.settings.heading %}
          <h2 class="h2 text-align--center">{{ section.settings.heading }}</h2>
        {% endif %}
        {% if section.settings.description %}
          <p class="p-md text-align--center">{{ section.settings.description }}</p>
        {% endif %}

        <div class="coming-soon-form-wrapper">
          {% form 'customer', id: 'coming-soon-newsletter' %}
            <input type="hidden" name="contact[tags]" value="newsletter">

            <div class="input-wrapper">
              <label class="form-label" for="NewsletterName">Вашето име*</label>
              <input name="contact[first_name]" id="NewsletterName" type="text" class="form-input" required>
            </div>

            <div class="input-wrapper">
              <label class="form-label" for="NewsletterEmail">Имейл*</label>
              <input name="contact[email]" id="NewsletterEmail" type="email" class="form-input" required>
            </div>

            <button class="button button-primary" type="submit">
              Абонирай се
              <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.69108 16.725C0.291023 17.2479 -0.229745 14.6418 0.082744 13.4938C0.395233 12.3459 0.447286 10.0044 0.447286 10.0044C0.447286 10.0044 0.395198 7.65648 0.0827443 6.50854C-0.231907 5.3606 0.291057 2.75226 2.69108 3.27306C5.09111 3.79387 4.98697 6.08975 8.22245 6.71905C11.4579 7.34619 11.2496 10.0066 11.2496 10.0066C11.2496 10.0066 11.4579 12.6605 8.22245 13.2877C4.98697 13.9126 5.09114 16.2042 2.69108 16.725Z" fill="white"/>
              </svg>
            </button>

            <div class="checkbox-wrapper">
              <label class="checkbox-label">
                <input class="checkbox-input" type="checkbox" name="consent" required>
                Съгласен/на съм с <a href="/policies/privacy-policy" target="_blank">Политиката за поверителност.</a>
              </label>
            </div>

            {% if form.posted_successfully? %}
              <p class="form-success-message">Благодарим за абонамента!</p>
            {% elsif form.errors %}
              <p class="form-error-message">Моля, въведете валиден имейл.</p>
            {% endif %}
          {% endform %}
        </div>

        <div class="contact-button">
          <svg width="49" height="49" viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" width="48" height="48.0389" rx="24" fill="white"/>
            <path d="M37.3151 30.0781L33.9636 26.7265C33.362 26.125 32.6745 25.7812 31.9011 25.7812C31.1276 25.7812 30.4401 26.125 29.7526 26.7265L27.7761 28.7031C27.6042 28.6171 27.4323 28.5312 27.2604 28.4453C27.0026 28.3593 26.8308 28.1875 26.6589 28.1015C24.8542 26.9843 23.1355 25.4375 21.5886 23.4609C20.8152 22.5156 20.2995 21.6562 19.9558 20.7968C20.4714 20.3672 20.9011 19.8515 21.4167 19.4219C21.5886 19.25 21.7605 19.0781 21.9323 18.9062C23.2214 17.6172 23.2214 15.8984 21.9323 14.6094L20.2136 12.8906C20.0417 12.7187 19.7839 12.4609 19.612 12.2891C19.2683 11.9453 18.9245 11.6016 18.4948 11.2578C17.8933 10.6562 17.2058 10.3125 16.4323 10.3125C15.6589 10.3125 14.9714 10.6562 14.3699 11.2578L12.2214 13.3203C11.448 14.0937 11.0183 15.0391 10.8464 16.1562C10.6745 17.9609 11.1902 19.5937 11.6199 20.7109C12.6511 23.375 14.112 25.8672 16.3464 28.5312C19.0105 31.7109 22.2761 34.289 25.9714 36.0937C27.3464 36.7812 29.237 37.5546 31.3854 37.7265H31.8151C33.2761 37.7265 34.3932 37.2109 35.3386 36.1796C35.6823 35.7499 36.0261 35.4062 36.4557 35.0624C36.7135 34.8046 36.9714 34.5468 37.2292 34.289C37.8307 33.6874 38.1745 32.914 38.1745 32.1406C38.2604 31.4531 37.9167 30.6796 37.3151 30.0781ZM36.112 33.1718C35.8542 33.4296 35.5964 33.6874 35.3386 33.9453C34.9089 34.289 34.5651 34.7187 34.1354 35.1484C33.5339 35.8359 32.7604 36.0937 31.8151 36.0937C31.7292 36.0937 31.6432 36.0937 31.5573 36.0937C29.7526 36.0077 28.0339 35.2343 26.7448 34.6328C23.2214 32.914 20.2136 30.5078 17.6355 27.5C15.573 25.0078 14.112 22.6015 13.1667 20.1094C12.6511 18.6484 12.4792 17.4453 12.5652 16.3281C12.6511 15.6406 12.9089 15.0391 13.4245 14.5234L15.487 12.4609C15.8308 12.2031 16.0886 12.0312 16.4323 12.0312C16.862 12.0312 17.1198 12.2891 17.2917 12.4609C17.7214 12.8047 18.1511 13.1484 18.4948 13.4922C18.6667 13.75 18.8386 13.9219 19.0964 14.0937L20.8152 15.8125C21.5026 16.5 21.5026 17.1015 20.8152 17.7031C20.6433 17.875 20.4714 18.0469 20.2995 18.2187C19.7839 18.7344 19.2683 19.25 18.7527 19.6797C18.237 20.1953 18.323 20.7109 18.4089 21.0547V21.1406C18.8386 22.1718 19.4402 23.2031 20.3855 24.4062C22.1042 26.4687 23.9089 28.1015 25.8855 29.3906C26.1433 29.5625 26.4011 29.6484 26.6589 29.8203C26.9167 29.9062 27.0886 30.0781 27.2604 30.164C27.2604 30.164 27.3464 30.164 27.3464 30.25C27.5183 30.3359 27.7761 30.4218 27.9479 30.4218C28.4636 30.4218 28.8073 30.0781 28.8933 29.9921L31.0417 27.8437C31.2136 27.6718 31.5573 27.414 31.987 27.414C32.3307 27.414 32.6745 27.6718 32.8464 27.8437L36.2839 31.2812C36.7995 31.8828 36.7995 32.5703 36.112 33.1718Z" fill="#AB8C52"/>
          </svg>
          Имаш въпроси? Свържи се с нас
        </div>
      </div>

      <img
        src="{% if section.settings.image != blank %}{{ section.settings.image | image_url: width: 1000 }}{% else %}https://cdn.shopify.com/s/files/1/0959/1727/7525/files/18008552054642542_1728916327_1.png?v=1753809837{% endif %}"
        alt="{{ section.settings.image.alt | escape }}"
        class="coming-soon-image"
      >
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Coming Soon Section",
  "tag": "section",
  "class": "section-coming-soon",
  "settings": [
    {
      "type": "image_picker",
      "id": "top_logo",
      "label": "Top Logo"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Очаквайте скоро"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Абонирай се за известие"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Остави ни имейл и ще ти пишем веднага щом стартираме!"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Right Side Image"
    }
  ],
  "presets": [
    {
      "name": "Coming Soon",
      "category": "Custom"
    }
  ]
}
{% endschema %}
