
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-591688220136178317.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-591688220136178317.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-591688220136178317.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-591688220136178317.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-591688220136178317.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-591688220136178317.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-591688220136178317.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-591688220136178317.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-591688220136178317.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-591688220136178317.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-591688220136178317.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-591688220136178317.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-591688220136178317.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-591688220136178317.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-591688220136178317.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-591688220136178317.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-591688220136178317.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-591688220136178317.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-591688220136178317.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-591688220136178317.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-591688220136178317.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-591688220136178317.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-591688220136178317.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-591688220136178317.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-591688220136178317.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-591688220136178317.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-591688220136178317.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-591688220136178317.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-591688220136178317.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-591688220136178317.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-591688220136178317.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-591688220136178317.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-591688220136178317.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-591688220136178317.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-591688220136178317.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-591688220136178317.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-591688220136178317.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-591688220136178317.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-591688220136178317.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-591688220136178317.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-591688220136178317.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-591688220136178317.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-591688220136178317.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-591688220136178317.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-591688220136178317.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-591688220136178317.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-591688220136178317.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-591688220136178317.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-591688220136178317.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-591688220136178317.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-591688220136178317.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-591688220136178317.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-591688220136178317.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-591688220136178317.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-591688220136178317.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-591688220136178317.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-591688220136178317.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-591688220136178317.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-591688220136178317.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-591688220136178317.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-591688220136178317.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-591688220136178317.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-591688220136178317.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-591688220136178317.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-591688220136178317.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-591688220136178317.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-591688220136178317.gps.gpsil [style*="--o-tablet:"]{order:var(--o-tablet)}.gps-591688220136178317.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-591688220136178317.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-591688220136178317.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-591688220136178317.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-591688220136178317.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-591688220136178317.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-591688220136178317.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-591688220136178317.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-591688220136178317.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-591688220136178317.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-591688220136178317.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-591688220136178317.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-591688220136178317.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-591688220136178317.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-591688220136178317.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-591688220136178317.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-591688220136178317.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-591688220136178317.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-591688220136178317.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-591688220136178317.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-591688220136178317 .gp-relative{position:relative}.gps-591688220136178317 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-591688220136178317 .gp-mb-0{margin-bottom:0}.gps-591688220136178317 .gp-flex{display:flex}.gps-591688220136178317 .gp-inline-flex{display:inline-flex}.gps-591688220136178317 .gp-grid{display:grid}.gps-591688220136178317 .\!gp-hidden{display:none!important}.gps-591688220136178317 .gp-hidden{display:none}.gps-591688220136178317 .gp-h-full{height:100%}.gps-591688220136178317 .gp-w-full{width:100%}.gps-591688220136178317 .\!gp-max-w-none{max-width:none!important}.gps-591688220136178317 .gp-max-w-full{max-width:100%}.gps-591688220136178317 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-591688220136178317 .gp-flex-col{flex-direction:column}.gps-591688220136178317 .gp-flex-wrap{flex-wrap:wrap}.gps-591688220136178317 .gp-items-center{align-items:center}.gps-591688220136178317 .gp-justify-center{justify-content:center}.gps-591688220136178317 .gp-overflow-hidden{overflow:hidden}.gps-591688220136178317 .gp-break-words{overflow-wrap:break-word}.gps-591688220136178317 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity))}.gps-591688220136178317 .gp-text-center{text-align:center}.gps-591688220136178317 .gp-leading-\[0\]{line-height:0}.gps-591688220136178317 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-591688220136178317 .gp-no-underline{text-decoration-line:none}.gps-591688220136178317 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-591688220136178317 .gp-duration-200{transition-duration:.2s}.gps-591688220136178317 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-591688220136178317 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-591688220136178317 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-591688220136178317 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-591688220136178317 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-591688220136178317 .tablet\:\!gp-hidden{display:none!important}.gps-591688220136178317 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-591688220136178317 .mobile\:\!gp-hidden{display:none!important}.gps-591688220136178317 .mobile\:gp-hidden{display:none}}.gps-591688220136178317 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-591688220136178317 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-591688220136178317 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-591688220136178317 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-591688220136178317 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-591688220136178317 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1024px){.gps-591688220136178317 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-591688220136178317 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}.gps-591688220136178317 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F3EEE7","image":{"src":""},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","preload":false},"mobile":{"image":{"backupFileKey":"gempages_591202759110296522-b35ca6a4-bc79-4125-9e00-884e0f6b2700.png","height":1204,"src":"https://cdn.shopify.com/s/files/1/0959/1727/7525/files/Background_1.png","storage":"FILE_CONTENT","width":750},"type":"image"}},"uid":"g5E--xD-zp"}' data-id="g5E--xD-zp" id="g5E--xD-zp" data-same-height-subgrid-container class="g5E--xD-zp gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:50px;--pb:50px;--pt-mobile:37px;--pb-mobile:37px;--pt-tablet:32px;--pb-tablet:32px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F3EEE7;--bgi:url();--bgi-mobile:url(https://cdn.shopify.com/s/files/1/0959/1727/7525/files/Background_1.png);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g81llMR0mP gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g7cG2sZm9q"}' data-id="g7cG2sZm9q" id="g7cG2sZm9q" data-same-height-subgrid-container class="g7cG2sZm9q gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:15px;--pr:15px;--mb-mobile:0px;--pl-mobile:15px;--pr-mobile:15px;--cg:30px;--cg-tablet:31px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o-tablet:0;--o-mobile:1"
      class="gkOS3jT6Jo gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"glqupUoe8j"}' data-id="glqupUoe8j" id="glqupUoe8j" data-same-height-subgrid-container class="glqupUoe8j gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:34px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:16px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g4OQMpZjJc gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gVwX91mgPB"
        class="gVwX91mgPB"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:4px;--mb-mobile:8px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762286908543"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:19px;--size-tablet:14px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#4C4E57;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggVwX91mgPB_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gVwX91mgPB">
        .gVwX91mgPB {

}
.gVwX91mgPB p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gJrHbRNMik"
        class="gJrHbRNMik"
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:21px;--mb-tablet:16px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762286908544"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:388px;--w-tablet:388px;--w-mobile:388px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#4C4E57;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggJrHbRNMik_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gJrHbRNMik">
        .gJrHbRNMik {

}
.gJrHbRNMik p {

}
      </style>
    
    <gp-button
      gp-data='{"btnLink":{"link":"https://superdogs.bg/collections/preporachani-produkti-za-pomerani-s-alopetsia","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-mobile:10px;--ta:center" >
        <style>[data-id="gCvuRoYRO7"].gp-button-base::before, [data-id="gCvuRoYRO7-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 100px;
      border-bottom-right-radius: 100px;
      border-top-left-radius: 100px;
      border-top-right-radius: 100px;
      
  
    }
  
      
  [data-id="gCvuRoYRO7"]:hover::before, [data-id="gCvuRoYRO7-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gCvuRoYRO7" dataId="gCvuRoYRO7" data-state="idle" aria-label="<p>Разкрий тайната на пухкавата козина</p>"
          
          href="https://superdogs.bg/collections/preporachani-produkti-za-pomerani-s-alopetsia" target="_self"
          style="--w:100%;--w-tablet:230px;--w-mobile:168px;--h:45px;--h-tablet:40px;--h-mobile:42px;--pl:24px;--pr:24px;--pt:24px;--pb:24px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:8px;--pb-tablet:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--bblr:100px;--bbrr:100px;--btlr:100px;--btrr:100px;--hvr-bblr:100px;--hvr-bbrr:100px;--hvr-btlr:100px;--hvr-btrr:100px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#00B287;--bg:#0B8064;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-Cantata-One, 'Cantata One'), var(--g-font-body, body);--size:20px;--size-tablet:14px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--weight:bold"
          class="gCvuRoYRO7 gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-Cantata-One, 'Cantata One'), var(--g-font-body, body);--size:20px;--size-tablet:14px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--weight:bold;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggCvuRoYRO7_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-gCvuRoYRO7">
        button.gCvuRoYRO7 {

}
      </style>
    
    
    <div data-id="gzJIgMbPHf"  style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:4px;--mb-mobile:10px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
      <div class="gp-flex gp-flex-wrap" style="--cg:4px;--jc:center">
            <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gFWlMwxWmu ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gBo7B_GMiN" class="gp-leading-[0] gBo7B_GMiN" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:left">
      <div data-id="gBo7B_GMiN" class="icon-wrapper gp-inline-flex gp-overflow-hidden gBo7B_GMiN " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#E4893A;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px;--height-desktop:14px;--height-tablet:14px;--height-mobile:14px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gDeA7Zp1i3 ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gMyzx2xaHn" class="gp-leading-[0] gMyzx2xaHn" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:left">
      <div data-id="gMyzx2xaHn" class="icon-wrapper gp-inline-flex gp-overflow-hidden gMyzx2xaHn " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#E4893A;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px;--height-desktop:14px;--height-tablet:14px;--height-mobile:14px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="g1eOBo0z9a ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="g6XGFylhQ8" class="gp-leading-[0] g6XGFylhQ8" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:left">
      <div data-id="g6XGFylhQ8" class="icon-wrapper gp-inline-flex gp-overflow-hidden g6XGFylhQ8 " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#E4893A;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px;--height-desktop:14px;--height-tablet:14px;--height-mobile:14px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gnzbINcgzw ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gc_QntaG_b" class="gp-leading-[0] gc_QntaG_b" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gc_QntaG_b" class="icon-wrapper gp-inline-flex gp-overflow-hidden gc_QntaG_b " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#E4893A;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px;--height-desktop:14px;--height-tablet:14px;--height-mobile:14px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gs46acroY4 ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="g_iQLwp4eB" class="gp-leading-[0] g_iQLwp4eB" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:left">
      <div data-id="g_iQLwp4eB" class="icon-wrapper gp-inline-flex gp-overflow-hidden g_iQLwp4eB " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#E4893A;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px;--height-desktop:14px;--height-tablet:14px;--height-mobile:14px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div>
          </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g4MZ9wQEUI"
        class="g4MZ9wQEUI"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762286908548"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--c:#4C4E57;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg4MZ9wQEUI_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g4MZ9wQEUI">
        .g4MZ9wQEUI {

}
.g4MZ9wQEUI p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o-tablet:1;--o-mobile:0"
      class="gr1FyeFQQ8 gp-relative gp-flex gp-flex-col"
    >
      
    <div
       data-id="g4BtrrvLi3" class="g4BtrrvLi3 !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--aspect:16/9">
      
  <gp-lite-html5-embed is-check-loaded="false" >
    
    <video
    id="gp-video-g4BtrrvLi3" title="Video" preload="metadata" data-src="https://cdn.shopify.com/videos/c/o/v/b76306d3c6014da4852ff8d6fcc594fe.mp4" poster data-poster
      style="--aspect:16/9"
      class="gp-w-full"
      
      loop
      muted
      autoplay
      playsinline
      src="https://cdn.shopify.com/videos/c/o/v/b76306d3c6014da4852ff8d6fcc594fe.mp4"
    ></video>
    
  </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-html5-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Cantata One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cantataone/v16/PlI5Fl60Nb5obNzNe2jslWxDvcc.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Cantata One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cantataone/v16/PlI5Fl60Nb5obNzNe2jslWxNvcGSf3aCUdU.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cantata One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cantataone/v16/PlI5Fl60Nb5obNzNe2jslWxDvcGSf3aC.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-591688220136178317 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/super-dogs-bg/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=591204035151790760&sectionId=591688220136178317)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggVwX91mgPB_text","label":"ggVwX91mgPB_text","default":"<p><span style=\"font-size:22px;\"><strong>#SuperDogs Care for Pomeranians</strong></span></p>"},{"type":"html","id":"ggJrHbRNMik_text","label":"ggJrHbRNMik_text","default":"<p>&nbsp;</p><p><span style=\"color:#3E4A56;font-size:22px;\"><strong>Нежна грижа за пухкавите померани - храна и козметика, които поддържат здрава кожа и бляскава козина.</strong></span><br>&nbsp;</p>"},{"type":"html","id":"ggCvuRoYRO7_label","label":"ggCvuRoYRO7_label","default":"<p>Разкрий тайната на пухкавата козина</p>"},{"type":"html","id":"gg4MZ9wQEUI_text","label":"gg4MZ9wQEUI_text","default":"<p><strong>След първото къпане козината стана като облак.</strong><br><strong>Никога не съм вярвала, че продуктите могат да направят такава разлика.</strong><br><strong>- </strong><i><strong>Мария Т., собственик на померан Лъки</strong></i></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  